<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{apple}}
    <form action="{{url_for('store')}}" method="POST">
        <label>No of apples: </label>
        <input type="number" name="apple" id="" value="0"><br><br>
        <label>No of oranges: </label>
        <input type="number" name="orange" id="" value="0"><br><br>
        <label>No of papayas:</label>
        <input type="number" name="papaya" id="" value="0"><br><br>
        <input type="submit" value="ADD TO CART">
    </form>

   
</body>
</html>