<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{msg}}
    {{average}}
    <form action="{{url_for('student')}}" method="POST">
    
    <label for="">USN:</label>
    <input type="text" name="usn" id=""><br><br>
    <label for="">Date of Birth</label>
    <input type="text" name="dob" id=""><br><br>
    <label for="">Maths Marks</label>
    <input type="text" name="math" id=""><br><br>
    <label for="">Physics Marks</label>
    <input type="text" name="phy" id=""><br><br>
    <label for="">Chemistry Marks</label>
    <input type="text" name="chem" id="">
    <input type="submit" value="Submit">
    </form>

</body>
</html>